<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<title>Add nationality</title>
</head>
<body class="p-3 mb-2 bg-danger text-dark">
<h1 class="text-center">Add nationality</h1>
<p></p>
<p></p>
<p></p>
	<div class="d-flex justify-content-center">
		<form class="text-white" th:object="${nationality}" th:action="@{/savenationality}" action="#" method="post">
		  	<label for="name">Nationality</label>
			<input type="text" class="form-control" id="name" th:field="*{name}" />
			<p>
			<p>
			<input class="btn btn-warning" type="submit" value="Save"></input>
			<a class="btn btn-warning m-3 pb-2 " href="/">Home</a>
		</form>
	</div>
</body>
</html>