<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<title>Edit player</title>
</head>
<body class="p-3 mb-2 bg-danger text-dark">
<h1 class="text-center">Edit player</h1>
	<div class="d-flex justify-content-center">
		<form class="text-white" th:object="${player}" th:action="@{/editsubmit}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		  	<label for="name">Name</label>
			<input type="text" class="form-control" id="name" th:field="*{name}" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="number">Number</label>
			<input type="number" class="form-control" id="number" th:field="*{number}" />
			<span th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Error</span>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="natlist">Nationality</label>
			<select id="natlist" th:field="*{nationality}" class="form-control">
			<option th:each="nationality : ${nationalities}" th:value="${nationality.nationalityid}" th:text="${nationality.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="poslist">Nationality</label>
			<select id="poslist" th:field="*{position}" class="form-control">
			<option th:each="position : ${positions}" th:value="${position.positionid}" th:text="${position.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" class="btn btn-warning" value="Save"></input>
		</form>
	</div>
</body>
</html>